
/* width*/
.w-1{
    width:50px;
}
.w-2{
    width:100px;
}
.w-3{
    width:300px;
}
.w-4{
    width:350px;
}
.w-5{
    width:400px;
}
.w-6{
    width:450px;
}
.w-7{
    width:500px;
}
/* hight*/
.h-1{
    height:250px;
}
.h-2{
    height:300px;
}
.h-3{
    height:350px;
}
.h-4{
    height:400px;
}
.h-5{
    height:450px;
}
.h-6{
    height:500px;
}
/* margin*/
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 25px;
}
.mt-6{
    margin-top: 30px;
}

.mr-1{
    margin-right: 5px;
}
.mr-2{
    margin-right: 10px;
}
.mr-3{
    margin-right: 15px;
}
.mr-4{
    margin-right: 20px;
}
.mr-5{
    margin-right: 25px;
}
.mr-6{
    margin-right: 30px;
}

.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
.mb-4{
    margin-bottom: 20px;
}
.mb-5{
    margin-bottom: 25px;
}
.mb-6{
    margin-bottom: 30px;
}


.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 15px;
}
.ml-4{
    margin-left: 20px;
}
.ml-5{
    margin-left: 25px;
}
.ml-6{
    margin-left: 30px;
}
.ml-7{
    margin-left: 75px;
}













/* flex*/
.d-f{
    display: flex;
}